{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'analysis/css/create_single.css' %}" />

<div id='upload_data'>
	<form action="{{request.path}}" method="post">
	{% csrf_token %}
	{{form.as_p}}
	<p><input type="submit" value="Upload" /></p>
	</form>
</div>

<div id="title"> <span>{{title}}</span></div>
<div id="desc"> <span>{{desc}}</span></div>
<table id="edit_table" cellspacing="0" width="100%">
	
	<thead>
		<tr>
		<th></th>
		{% for header in headers %}
		<th>{{header}}</th>
		{% endfor %}
		</tr>

	</thead>

	<tbody>
		{% for entry in list %}
		<tr>
			<td><input type='radio' class='deletes' value={{entry.id}}></td>
            {% for e in entry.values %}
				<td>{{e}}</td>
			{% endfor %}
		</tr>
		{% endfor %}

		</tbody>
</table>

        <script>
    var table = $('#edit_table').DataTable({
        "iDisplayLength": 100,
    });


    $('.deletes').on('click', function(){
        word = document.getElementById(this.value).innerHTML
		confirm = confirm("Are you sure you would like to delete this entry?");
		if(confirm == false){
			this.checked = false;
		}
		else{
			$.ajax({
	            url : "/analysis/delete_word/",
	            type : "POST",
	            data : {'word_id': this.value, 'word': word},
	            // handle a successful response
	            success : function(json) {
	                console.log("success");
	                location.reload()
	            },
	            // handle a non-successful response
	            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
		}
    })
       </script>
{% endblock %}
