{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script src ="{% static 'analysis/js/jquery.cookie.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>

<br>
<br>
<br>
<div id='upload_data'>
	<br>
	<br>
	<form action="{{request.path}}" method="post">
	{% csrf_token %}
	{{form.as_p}}
	<p><input type="submit" value="Upload" /></p>
	</form>
</div>
<br>
{{title}}
			<table id="edit_table" cellspacing="0" width="100%">
				<thead>
					<tr>
					<th></th>
					{% for header in headers %}
					<th>{{header}}</th>
					{% endfor %}
					</tr>

				</thead>
		 
				<tbody>
					{% for entry in list %}
					<tr>
						<td><input type='radio' class='deletes' value={{entry.id}}></td>
						{% for e in entry.values %}
							<td>{{e}}</td>
						{% endfor %}
					</tr>
					{% endfor %}

					</tbody>
			</table>

        <script>
    var table = $('#edit_table').DataTable({
        "iDisplayLength": 100,
    });

    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $('.deletes').on('click', function(){
		confirm = confirm("Are you sure you would like to delete this entry");
		if(confirm == false){
			this.checked = false;
		}
		else{
			$.ajax({
	            url : "/analysis/delete_word/", // the endpoint
	            type : "POST", // http method
	            data : {'word_id': this.value}, // data sent with the post request
	            // handle a successful response
	            success : function(json) {
	                console.log("success"); // another sanity check
	                location.reload()
	            },
	            // handle a non-successful response
	            error : function(xhr,errmsg,err) {
	            	$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
		}
    })
       </script>
{% endblock %}
