{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% block content %}
<br>
<br>
<br>
<div id='upload_data'>
	<br>
	<br>
	<form action="{{request.path}}" method="post">
	{% csrf_token %}
	{{form.as_p}}
	<p><input type="submit" value="Upload" /></p>
	</form>
</div>
<br>
{{title}}
{% render_table table %}
<link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
 
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>

        <script>
	$('#pretty').DataTable( {
		"aaSorting": [ ]
	} );
       </script>
{% endblock %}
