{% extends "base.html" %}
{%block content%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'analysis/css/table_edit.css' %}" />
<link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script src ="{% static 'analysis/js/jquery.cookie.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
<div>
	<form method="post" id='add_name_form' call='/analaysis/addName' style='display:none'>
	{% csrf_token %}
	{{name_form.as_p}}
	<p><input type="submit" value="Upload"/></p>
	</form>
</div>

<div>
	<form method="post" id='add_dict_form' call='/analysis/addDict' style='display:none'>
	{% csrf_token %}
	{{dict_form.as_p}}
	<p><input type="submit" value="Upload" /></p>
	</form>
</div>
{{table}}
<script type="text/javascript">

$('#add_name_form').submit(function(){
	name = document.getElementById('id_name').value
    
    $.ajax({
        url : "/analysis/addName/",
        type : "POST", // http method
        data : { "name" : name },
        // handle a successful response
        success : function(json) {
            alert(name + " is documented"); // log the returned json to the console
        },

        error : function(xhr,errmsg,err) {
        	// TODO: handle a non-successful response
        }
    });
})

$('#add_dict_form').submit(function(){
	word = document.getElementById('id_word').value
	trans = document.getElementById('id_trans').value
	lang = document.getElementById('id_language').value

    $.ajax({
        url : "/analysis/addDict/",
        type : "POST", // http method
        data : { "word": word,
        		 "trans": trans,
        		 "lang": lang 
        		},
        // handle a successful response
        success : function(json) {
            alert(word + " is documented"); // log the returned json to the console
        },

        error : function(xhr,errmsg,err) {
        // handle a non-successful response
    	}
    });
})

var csrftoken = $.cookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


</script>
{%endblock%}
