  <div class='page_wrapper'>
    <div class='menu'>
		<ul class="menulist">
            {% with request.resolver_match.url_name as url_name %}
			<li id='mod'><a>Modifications</a>
				<ul id='mod_dropdown'>
					<li><a href="#" id='delete_selected'>Delete Selected</a></li>
					<li class='{% if url_name = "dashboard" %}active{%endif%}'><a href="{% url 'replaceNames' datasource_id %}">Replace names</a></li>
					<li class='{% if url_name = "dashboard" %}active{%endif%}'><a href="{% url 'repSlang' datasource_id %}">Replace slang</a></li>
					<li class='{% if url_name = "dashboard" %}active{%endif%}'><a href="{% url 'remNonAlpha' datasource_id %}">Remove non-alphabetical characters</a></li>
					<li class='{% if url_name = "dashboard" %}active{%endif%}'><a href="{% url 'remSkips' datasource_id %}">Remove skip words</a></li>
					<li class='{% if url_name = "dashboard" %}active{%endif%}'><a href="{% url 'updLangs' datasource_id %}">Update languages</a></li>
				</ul>
			</li>			
			<li class='{% if url_name = "dashboard" %}active{%endif%}'id="save"><a href="#" id="savelink">Save Changes</a></li>
			<li class='{% if url_name = "download" %}active{%endif%}'><a href="{% url "analysis" datasource_id %}" id="download_button">Visualise</a></li>
            <li class='{% if url_name = "download" %}active{%endif%}'><a href="{% url "download" datasource_id %}" id="download_button">Download File</a></li>
            {% endwith %}
        </ul>
		
	</div>

	<div id='data_pane'>
          {% block table %}
				<table id="edit_table" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th></th>
						<th>Country</th>
						<th>RStation</th>
						<th>Modified SMS</th>
						<th>Original</th>
						<th>Language</th>
						<th>Opinion</th>
					</tr>
				</thead>
		 
				<tfoot>
					<tr>
						<th></th>
						<th>Country</th>
						<th>RStation</th>
						<th>Modified SMS</th>
						<th>Original</th>
						<th>Language</th>
						<th>Opinion</th>
					</tr>
				</tfoot>
		 
				<tbody>
					{% for sms in data %}
					<tr>
						<td><input type='checkbox' class='checking' value={{sms.Index}}></td>
						<td>{{sms.Country}}</td>
						<td>{{sms.RStation}}</td>
						<td><input type='text' class='modify_text' id="edit_{{sms.Index}}" value="{{sms.Edited}}" size="60" ></td>
						<td>{{sms.Original}}</td>
						<!--td>{{sms.Language}}</td-->
						<td><select onchange="changeLang(this.id)" size="1" id="lang_{{sms.Index}}" class='language_selection'>
							{% for lang in languages %}
								{% if lang == sms.Language %}
									<option value="{{lang}}" selected>
										{{lang}}
									</option>
								{% else %}
									<option value="{{lang}}">
										{{lang}}
									</option>
								{% endif %}                            
							{% endfor %}
						</select>
						</td>
						<td><select onchange="changeOp(this.id)" size="1" id="op_{{sms.Index}}" class='option_selection'>
							{% for opinion in opinions %}
								{% if opinion == sms.opinion %}
									<option value="{{opinion}}" selected>
										{{opinion}}
									</option>
								{% else %}
									<option value="{{opinion}}">
										{{opinion}}
									</option>
								{% endif %}                            
							{% endfor %}
						</select>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
          {% endblock %}
        </div>
     </div>
<script>
    var table = $('#edit_table').DataTable({
        "iDisplayLength": 100,
        "aoColumns": [
            {"sWidth": "5%"},
            {"sWidth": "5%"},
            {"sWidth": "5%"},
            {"sWidth": "30%"},
            {"sWidth": "30%"},
            {"sWidth": "10%"},
            {"sWidth": "15%"}
        ]
    });

    // This arrays are refreshed after each successful update of the database.
    // Keep dictionary (as a hash table where the key is the index of the row.
    var changed_indexes = {};
    // List containing the changes, the indexes are values in changed_indexes.
    var change_list = [];

    // TODO(Daria): Clean-up this code.
    // TODO(Daria): Lots of code duplication, extract it in helper function.
    /*
        We need to bind the event handler to a parent container, since the html gets rerendered when the page table is changed.
        We need to be able to get the data from the table across pages, so we keep it in a datastructure (change_list).
    */
    $('.modify_text').on('change', function() {
        id = this.id
        index = id.split('_')[1]

        var o = document.getElementById("op_"+index);
        var opinion = o.options[o.selectedIndex].text;

        var l = document.getElementById("lang_"+index);
        var language = l.options[l.selectedIndex].text;

        if (changed_indexes[index] != null) {
            pos = changed_indexes[index]
            change_list[pos].sms = this.value
//          change_list[pos].opinion = opinion
//          change_list[pos].lang = language
        } else {
//          opinion = $('#op_'+index).val()
//          language = $('#lang_'+index).val()
            edited_sms = this.value
            item = {
                index: index,
                opinion: opinion,
                sms: edited_sms,
                langModded: "false",
                lang: language
            }
        changed_indexes[index] = change_list.length
        change_list.push(item)
//      alert(item.toSource())
        }
    });

    checked_list = {}
    $('.checking').on('change', function(){
        index = this.value
        if(this.checked == false){
            delete checked_list[index]
        }
        else{
            checked_list[index] = 1
        }
    });

    $('#delete_selected').on('click', function(){
        list_to_send = []
        for(i in checked_list){
            list_to_send.push(i)
        }
        num_deleted = list_to_send.length
        if(num_deleted == 0){
            return;
        }
        $.ajax({
            // This will go to /analysis/datasource_id/manip/update/
            url : "/analysis/{{datasource_id}}/deleteSMS", // the endpoint
            type : "POST",
            data : {'checked_list[]': list_to_send}, // data sent with the post request
            // handle a successful response
            success : function(json) {
                alert(num_deleted + " SMS deleted successfully")
                location.reload()
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });        
    })
    
//  $('#edit_table').on('change', 'select', function() {
    function changeLang(id) {
//      id = this.id
        index = id.split('_')[1]

        var o = document.getElementById("op_"+index);
        var opinion = o.options[o.selectedIndex].text;

        var l = document.getElementById("lang_"+index);
        var language = l.options[l.selectedIndex].text;

        if (changed_indexes[index] != null) {
            pos = changed_indexes[index]
//          change_list[pos].opinion = opinion
            change_list[pos].lang = language
            change_list[pos].langModded = "true"
        } else {
//            lang = $('#lang_'+index).value
            edited_sms = $('#edit_'+index).val()
            item = {
                index: index,
                opinion: opinion,
                sms: edited_sms,
                langModded: "true",
                lang: language
            }
        changed_indexes[index] = change_list.length
        change_list.push(item)
//      alert(item.toSource())
        }
    }//);

    function changeOp(id) {
//      id = this.id
        index = id.split('_')[1]

        var o = document.getElementById("op_"+index);
        var opinion = o.options[o.selectedIndex].text;

        var l = document.getElementById("lang_"+index);
        var language = l.options[l.selectedIndex].text;

        if (changed_indexes[index] != null) {
            pos = changed_indexes[index]
            change_list[pos].opinion = opinion
//          change_list[pos].lang = language
        } else {
//          opinion = this.value
//            lang = $('#lang_'+index).value
            edited_sms = $('#edit_'+index).val()
            item = {
                index: index,
                opinion: opinion,
                sms: edited_sms,
                langModded: "false",
                lang: language
//              opinion is lang (extremely hacky)
            }
        changed_indexes[index] = change_list.length
        change_list.push(item)
//      alert(item.toSource())
        }
    }//);

    $('#save').on('click', function() {
        change_list = change_list.map(function(e) {
            return JSON.stringify(e)
        });
        sendPostRequestToSave()
    });

    
    function sendPostRequestToSave() {
        $.ajax({
            // This will go to /analysis/datasource_id/manip/update/
            url : "update/", // the endpoint
            type : "POST", // http method
            data : {'changes[]': change_list}, // data sent with the post request
            // handle a successful response
            success : function(json) {
                $('#post-text').val(''); // remove the value from the input
                console.log(json); // log the returned json to the console
                changed_indexes = {}
                change_list = []
                location.reload()
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }
</script>
