*{
	margin:0;
	font-family: 'Roboto', sans-serif;
}

#navbar{
	position:fixed;
	top:0;
	width:100%;
	background-color:black;
	padding-left:70px;
	padding-right:70px;
	z-index:5;
	text-align:center;
	transition: all 0.5s ease;
}

#logoproject{
	display:inline;
	color:white;
	padding:10px 0 10px 20px;
	padding-bottom:10px;
	float:left;
	font-size:1.5em;
	text-decoration:none;
}

#logocharlie{
	display:inline;
	color:#72D5FC;
	padding-top:10px;
	padding-bottom:10px;
	float:left;
	font-size:1.5em;
	text-decoration:none;
}

#welcomemessage{
	color:white;
	padding:15px;
	float:right;
}

#welcomemessage:hover {
	background-color:#404040;
}

#welcomemessage:hover > #navbar_dropdown{
	visibility:visible;
}

#logout{
	display:inline;
	background-color:#72D5FC;
	margin:10px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	font-size:1em;
	float:right;
	border-radius:5px;
}

#navbar_dropdown{
	position:absolute;
	top:50px;
	right:160px;
	background-color:black;
	visibility:hidden;
	list-style-type:none;
	text-align:left;
	background-color:black;
	opacity:0.7;
	padding-left:0;
	padding-right:20px;
}

#navbar_dropdown >li{
	padding: 10px 50px 10px 10px;
}
.menuitem{
	text-decoration:none;
	color:white;
}
#dropdown_arrow{
	font-size:10px;
	padding-left:5px;
}