.view {
    position: relative;
    width: 100%;
    height: 100%;
}

#cloud_question{
	text-align:center;
	font-size:2em;
	padding:20px;
	height:10%;
}

#canvas_container{
	padding:20px;
	height:90%;
}