#upload_data{
	position:fixed;
	top:50px;
	padding:20px;
}

#title{
	padding:10px;
	position:fixed;
	top:230px;
	font-size:2em;
	width:100%;
	border-top:1px solid;
}

#edit_table_wrapper{
	position:fixed;
	top:280px;
	width:100%;
	padding:10px;
	overflow-y:scroll;
}