body{
	margin:0;
	font-family: 'Roboto', sans-serif;
}

h1{
	margin-left:20px;
	display:inline;
}

#addbutton{
	font-size:1.5em;
	padding-top:10px;
	padding-right:20px;
	float:right;
	color:black;
}

#page_wrapper{
	position:relative;
	top:80px;
	margin-left:100px;
	margin-right:100px;
	z-index:1;
}

#document_container{
	display:flex;
	flex-wrap:wrap;
	border-top:1px solid;
	margin-top:10px;
	padding:10px;
	
}

.uploaded_file{
	height:330px;
	width:240px;
	margin:20px;
	margin-bottom:0px;
	border-radius:10px;
	border-style:solid;
	border-color:black;
}
.uploaded_file_question{
	padding:10px;
	font-size:1.25em;
	display:inline-block;
	height:25%;
	width:90%;
	background-color:black;
	color:white;
}

.delete{
	top:0;
	padding-top:10px;
	display:inline-block;
	height:25%;
	width:10%;
	float:right;
	background-color:black;
	color:white;
}
.delete:hover{
	cursor:pointer;
}

.uploaded_file_name{
	padding:10px;
	font-size:1.25em;
}

.q_link{
	padding:10px;
	font-size:1.25em;
}

#overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:black;
    opacity:0.5;
    z-index:2;
	display:none;
}

#upload_data{
	position:absolute;
	width:700px;
	height:400px;
	top:50%;
	left:50%;
	margin:-200px 0 0 -350px;
	background-color:white;
	padding:20px 40px 20px 40px;
	display:none;
	z-index:3;
	border-radius:5px;
}

#cancel{
	float:right;
	color:black;
}

.errorlist{
	margin-left:-20px;
	color:red;
}