body{
	margin:0;
}

h1{
	margin-left:20px;
	display:inline;
}

#navbar{
	position:fixed;
	top:0;
	width:100%;
	background-color:black;
	padding-left:100px;
	padding-right:100px;
	z-index:2;
	text-align:center;
}

#logo{
	display:inline;
	color:white;
	padding:20px;
	float:left;
}

#logout{
	display:inline;
	color:white;
	padding:20px;
	float:right;
}

#add{
	font-size:1.5em;
	padding-top:10px;
	padding-right:20px;
	float:right;
}

#page_wrapper{
	position:relative;
	top:100px;
	margin-left:100px;
	margin-right:100px;
	z-index:1;
}

#document_container{
	display:flex;
	flex-wrap:wrap;
	border-top:1px solid;
	margin-top:10px;
}

.uploaded_file{
	height:330px;
	width:240px;
	margin:20px;
	padding:10px;
	border-radius:10px;
	border-style:solid;
}
.uploaded_file_question{
	font-size:1.5em;
}