*{
	margin:0;
	font-family: 'Roboto', sans-serif;
}

#landing_navbar{
	position:fixed;
	top:0;
	width:100%;
	background-color:white;
	padding-left:70px;
	padding-right:70px;
	z-index:2;
	text-align:center;
	box-shadow: 1px 1px 1px #888888;
}

#logoproject{
	display:inline;
	color:black;
	padding:10px 0 10px 20px;
	float:left;
	font-size:2em;
}

#logocharlie{
	display:inline;
	color:#72D5FC;
	padding-top:10px;
	padding-bottom:10px;
	float:left;
	font-size:2em;
}

#page_landing{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.view {
    display: table;
    position: relative;
    padding-left:150px;
	padding-right:150px;
	width:100%;
    height:80%;
}

#heading{
	display:table-cell;
	text-align: center;
    vertical-align: middle;
}

#login_form{
	padding:15px 0 0 10px;
	text-align: right;
}

#form_user{
	padding:10px;
}

#form_login{
	margin-right:-10px;

}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.text-vertical-top {
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 300;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#about{
	display:table;
	position: relative;
    padding-left:150px;
	padding-right:150px;
	width:100%;
	height:20%;
}

#down_arrow{
	text-align:center;
	font-size:3em;
}

#about_text{
	padding-top:100px;
	padding-left:150px;
	padding-right:150px;
	height:100%;
}


.error{
	color:red;
}