.sidebar-link-container{
	display:table;
	height:auto;
	width:100%;
	color:white;
	padding:10px 20px 10px 20px;
}

.sidebar-link,.sidebar-text{
	color:white;
	display:table-cell;
	text-align:center;
	width:33%;
}

.sidebar-link:hover{
	color:#72D5FC;
}

.glyphicon{
	font-size:20px;
}

#icons{
	padding:20px 20px 0 20px;
}
#icon_names{
	padding:0 20px 20px 20px;
}

.filter:hover{
	background-color:#72D5FC;
}

.filter-wrapper{
	padding-left:40px;
	color:white;
	display:none;
}

.arrow{
	font-size:12px;
	padding-right:10px;
}
