#title{
	font-variant:small-caps;
	font-size:30px;
	z-index:10;
	margin:0 auto;
	margin-top:20px;
	left:0;
	right:0;
}

#content{
	text-align: center;
	padding: 2px;
	width: 100%;
	margin: 0 auto;
	display: block;
}

body{
	font:16px Garamond, Georgia, Times New Roman, Times, serif;
	text-align:center;
}