<!DOCTYPE html>
<html lang="en">
<head>
    <title>
    {% block title %}
    	Project Charlie
    {% endblock %}
    </title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'analysis/css/base.css' %}" />
    {% block staticfiles %}
    {% endblock %}
</head>

<body>
	<div id='navbar'>
        {% block navbar %}
		<a href="{% url 'logout' %}" id='logout'>Logout</a>
        <a href="{% url 'dashboard' %}" id='home_button'>{{name}}</a>
        {% endblock %}
	</div>

    <div id="content">
        <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
</body>
</html>