<html lang="en">
<head>
    <title>
    {% block title %}
    	Project Charlie
    {% endblock %}
    </title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'analysis/css/bootstrap.min.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'analysis/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src ="{% static 'analysis/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
    <script src ="{% static 'analysis/js/jquery.cookie.js' %}"></script>
    <script src ="{% static 'analysis/js/charlie.js' %}"></script>
    {% block staticfiles %}
    {% endblock %}
</head>

<body>
	<div id='navbar'>
        {% block navbar %}


		<a id="logoproject" href="{% url 'dashboard' %}">Project</a><a id="logocharlie" href="{% url 'dashboard' %}">Charlie</a>
		<a id="logout"  href="{% url 'logout' %}">Log Out</a>
		<span id="welcomemessage"> Welcome {{name}} !</span>
        <a role="menuitem" tabindex="-1" href="{% url 'add_skip' %}">Skip Words</a>
        <a role="menuitem" tabindex="-1" href="{% url 'add_name' %}">Names</a>
        <a role="menuitem" tabindex="-1" href="{% url 'add_dict' %}">Dictionary</a>
        {% endblock %}
	</div>
	
    <div id="content">
        <!-- Note that content contains the "sidebar" block, so no need to load it -->
        {% block content %}
        {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
</body>
</html>