<script>
var chart = new Highcharts.Chart({
        chart: {
            renderTo: "column_chart",
            type: "column"
        },

        title: {
            text: "{{ title }}"
        },
        xAxis: {
            categories: {{countries | safe}}
        },
        yAxis: {
            min: 0,
            title: {
                text: '#Text Message'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    'Total: ' + this.point.stackTotal;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            },
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function () {
                            //var opinion = this.name
                            country = this.category
                            opinion = this.series.name
                            applyColumnChartFilter(opinion, country)
                            updateData()
                        }
                    }
                }
            }
        },

        series: {{ data | safe }}

});

function applyColumnChartFilter(opinion, country) {
    opinion = opinion.toLowerCase()
    country = country.toLowerCase()
    $('#opinionfilter').find('input[type=checkbox]').each(function() {
        if ($(this).val().toLowerCase() != opinion) {
            $(this).prop('checked', false);
        } else {
            $(this).prop('checked', true);
        }
    });
    $('#countryfilter').find('input[type=checkbox]').each(function() {
        if ($(this).val().toLowerCase() != country) {
            $(this).prop('checked', false);
        } else {
            $(this).prop('checked', true);
        }
    });
    data_opinions = [opinion]
    data_countries = [country]
}
</script>