{% extends "base.html" %}

{% block staticfiles %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'analysis/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'analysis/css/dashboard.css' %}" />
{% endblock %}

{% block content %}
<!-- List of uploaded documents -->
		<div id='page_wrapper'>
			<h1> Dashboard </h1>
			<span class="glyphicon glyphicon-plus" id="addbutton"></span>
			<!-- List of uploaded documents -->
			<div id='document_container'>
				{% if documents %}
					{% for document in documents %}
						<div class='uploaded_file'>
							<div class='uploaded_file_question'>{{document.name}}</div>
							<div id='delete' class='glyphicon glyphicon-remove'> </div>
							<div class='uploaded_file_name'>{{ document.docfile.name }}</div>
							<div class='q_link'> <a href="{{ document.docfile.url}}">Download Original File</a> </div>
							<div class='q_link'> <a href="{% url "manipulation" document.id %}">Data Manipulation</a> </div>
							<div class='q_link'> <a href="{% url "analysis" document.id %}">Data Analysis</a> </div>
						</div>
						<br/>
					{% endfor %}
				{% else %}
					<p>No documents.</p>
				{% endif %}
			</div>

			<!-- Upload form. Note enctype attribute! -->
			<div id='upload_data'>
				<form action="{% url "dashboard" %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<p>{{ form.non_field_errors }}</p>
					<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
					<p>
						{{ form.docfile.errors }}
						{{ form.docfile }}
					</p>
					<p>
						{{form.question.label_tag}}
						{{ form.question}}
					</p>
					<p>
						{{form.answer.label_tag}}
						{{ form.answer}}
					</p>
					<p><input type="submit" value="Upload" /></p>
				</form>
			</div>
			
			<div id="overlay"> </div> <!-- makes rest of screen grey -->
		</div>
	
	<script src ="{% static 'analysis/js/dashboard.js' %}"></script>
{% endblock %}
