{% load staticfiles %}

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'analysis/css/landing-page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'analysis/css/bootstrap.min.css' %}" />

{% block content %}
<div id='landing_navbar'>
		<span id="logoproject">Project</span><span id="logocharlie">Charlie</span>
		<div id="login_form">
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
			<span id="form_user">{{ form.username.label_tag }} {{ form.username }}</span>
			<span id="form_pw">{{ form.password.label_tag }} {{ form.password }}</span>
			<input type="submit" value="login" id="form_login"/>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
		<!--<a href="/admin">Admin</a>-->
		{% if form.errors %}
        <p class="error">Incorrect username or password. Please try again.</p>
		{% endif %}
		</div>
</div>

<div class="view">
	<div class="text-vertical-center">
		<h1>Project Charlie</h1>
		<h3>Need any data manipulated? Any numbers crunched? <br/> Need to generate flawlessly beautiful pie charts <br/> and have them seamlessly 
			translate into data tables?</h3>
		<h3>If so, well, it's your lucky day. You've come to the right place.</h3>
	</div>
</div>

<div id="about">
	<div class="text-vertical-top">
		<p>read more</p>
		<span class="glyphicon glyphicon-menu-down" id="down_arrow"></span>
	</div>
</div>
<div id="about_text">
	<h1> About us </h1>
	<p >
		Charlie's primary function entails manipulating data and then representing it in many different forms. It also 
		allows the user to edit the dataset while in session and provides him/her with the revised version for future use.
		This not only makes it easier for the user to keep working on an updated dataset, but also makes the process a lot more 
		effortless and enjoyable. Although we came across Charlie as a IB Group Project, it soon grew to be something bigger for all of us.
		We hope that you will find it helpful and that you enjoy using it as much as we enjoyed making it.</p>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function (){
		$("#down_arrow").click(function() {
			$('html, body').animate({
				scrollTop: $("#about_text").offset().top
			}, 2000);
		});
	});
</script>

{% endblock %}
