{% extends "base.html" %}

{% block staticfiles %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'analysis/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'analysis/css/sidebar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'analysis/css/simple-sidebar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'analysis/css/cloud-page.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">

    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    <script src ="http://code.highcharts.com/highcharts.js"></script>
    <script src ="{% static 'analysis/js/papaparse.min.js' %}"></script>
    <script src ="{% static 'analysis/js/charlie.js' %}"></script>
    <script src ="{% static 'analysis/js/main.js' %}"></script>
    <script src ="{% static 'analysis/js/bootstrap.min.js' %}"></script>
    <script src ="{% static 'analysis/js/tabularSMS.js' %}"></script>
    <script src ="{% static 'analysis/js/inputParsing.js' %}"></script>
    <script src ="{% static 'analysis/js/jput.min.js' %}"></script>
    <script src ="{% static 'analysis/js/charlie.js' %}"></script>
    <script src ="{% static 'analysis/js/jquery.cookie.js' %}"></script>
    <script src ="{% static 'analysis/js/jquery.awesomeCloud-0.2.min.js' %}"></script>
    <script src ="{% static 'analysis/js/tagcanvas.min.js' %}"></script>
    <script src ="{% static 'analysis/js/sidebar.js' %}"></script>
    <script src ="{% static 'analysis/js/wordcloud.js' %}"></script>
{% endblock %}



{%block content%}
<div id="wrapper">
    <!-- Sidebar -->
    {%block sidebar%}
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <div class="sidebar-link-container" id="icons">
                <a class="sidebar-link" switch-view="page_cloudmap">
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                </a>
                <a class="sidebar-link" switch-view="page_charts">
                   <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                </a>
                <a class="sidebar-link" switch-view="page_text">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                </a>
            </div>
            <div class="sidebar-link-container" id="icon_names">
                <span class="sidebar-text"> Wordcloud</span> 
                <span class="sidebar-text"> Charts</span>
                <span class="sidebar-text"> SMS</span>
            </div>
            
            <div class="sidebar-link-container" id="filters">
                <span class="glyphicon glyphicon-triangle-top" id="arrow" aria-hidden="true"></span><span>Filters</span> 
            </div>
            <div id="filter-wrapper">
                <li id='li_filters'>
                </li>   
            </div>
    </div>
    {%endblock%}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="views">
                <div class="view" id="page_cloudmap">
                    <div id="cloud_question">{{title}}</div>
                    <div id="canvas_container">
                        <canvas id="cloud_canvas" width="600px" height="600px"/>
                        </canvas>
                    </div>
                    <div id="cloud_tags"/>
                    </div>
                </div>
                <div class="view" id="page_text">
                    {{table}}
                    <br/>
                </div>

                <div class="view" id="page_charts">
                    <div class="text-vertical-center" id="pie_chart">
                    {{pie_chart}}
                    </div>
                    <div class="text-vertical-center" id="column_chart">
                    {{column_chart}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->


{%block scripts%}
<script>
var data_raw;
var data_wordfreq;
var data_filtered;
var data_countries;
var data_rstations;
var data_answers;
var data_question;
var data_options;
var table;

// global state variables
var WINDOW = {
    HOME: {id: 'page_dashboard'},
    UPLOAD: {id: 'page_upload'},
    CHART: {id: 'page_charts'},
    CLOUD: {id: 'page_cloudmap'},
    LIST: {id: 'page_text'}
}

var CTR_WINDOW;
var CTR_TABLE_INITIALIZED;

CTR_TABLE_INITIALIZED = false;
data_raw = {{data_raw | safe}};
data_filtered = data_raw
data_wordfreq = {{word_freq | safe }}
data_countries = {{data_countries | safe}}
data_rstations = {{data_rstations | safe}}

drawCloudMap(data_wordfreq, '#cloud_tags')
renderSideBars({{sidebar_filters | safe}}, '#li_filters')
CTR_WINDOW = WINDOW.CHART;
$("#wrapper").toggleClass("toggled");
switchView();


document.getElementById("cloud_tags").addEventListener("click",
    function(e){
        word = e.target.id
        table.search(word).draw()
        CTR_WINDOW = WINDOW.LIST
        switchView()
});

$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});

$('[switch-view]').click(function (e) {
    e.preventDefault();
    var x = $(this).attr('switch-view');
    if(x == 'page_cloudmap'){
        CTR_WINDOW = WINDOW.CLOUD
    }
    else if(x == 'page_charts'){
        CTR_WINDOW = WINDOW.CHART
    }
    else if(x == 'page_text'){
        CTR_WINDOW  = WINDOW.LIST
    }
    switchView()
});
/* 
    to change the page based on the value of CTR_WINDOW
*/
function switchView(){
    //TODO: precise FSM specification
    $(' .view').hide();
    $('#' + CTR_WINDOW.id).show();
/*
    if(CTR_WINDOW == WINDOW.CHART){
        $('#filters').hide()
    }
    else{
        $('#filters').show()
    }
*/
}

var csrftoken = $.cookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
    
//Collapse filters - if you're here to clean up, this only exists here atm
var showFilters = true;
document.getElementById("filters").addEventListener("click",
function(e){
    if (showFilters) {
        document.getElementById("filter-wrapper").style.display="none";
        document.getElementById("arrow").className="glyphicon glyphicon-triangle-bottom";
        showFilters=false;
    }
    else{
        document.getElementById("filter-wrapper").style.display="block";
        document.getElementById("arrow").className="glyphicon glyphicon-triangle-top";
        showFilters=true;
    };
});
</script>

{%endblock%}
