<script>
var chart = new Highcharts.Chart({
        chart: {
            renderTo: "pie_chart",
            type: "pie"
        },

        title: {
            text: "{{ title }}"
        },

        plotOptions: {
            pie: {
                allowPointSelect: true,
                dataLabels:{
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                }
            },
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function () {
                            var opinion = this.name
                            uncheckOtherOpinions(opinion);
                            updateData();
                        }
                    }
                }
            }
        },

        series: [{
            data: {{ data | safe}},
            name: "{{data_name}}"
        }]


});

function uncheckOtherOpinions(opinion) {
    opinion = opinion.toLowerCase()
    var list = $('#opinionfilter').find('input[type=checkbox]').each(function() {
        if ($(this).val().toLowerCase() != opinion) {
            $(this).prop('checked', false);
        } else {
            $(this).prop('checked', true);
        }
    });
    data_opinions = [opinion]
}
</script>