<table id="opinion_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Index</th>
                <th>Country</th>
                <th>RStation</th>
                <th>SMS</th>
                <th>Opinion</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Index</th>
                <th>Country</th>
                <th>RStation</th>
                <th>SMS</th>
                <th>Opinion</th>
            </tr>
        </tfoot>
 
        <tbody>
            {% for sms in data %}
            <tr>
                <td>{{sms.Index}}</td>
                <td>{{sms.Country}}</td>
                <td>{{sms.RStation}}</td>
                <td>{{sms.SMS}}</td>
                <td><select size="1" id="op_{{sms.Index}}">
                    
                    {% for opinion in opinions %}
                        {% if opinion == sms.opinion %}
                            <option value="{{opinion}}" selected>
                                {{opinion}}
                            </option>
                        {% else %}
                            <option value="{{opinion}}">
                                {{opinion}}
                            </option>
                        {% endif %}                            
                    {% endfor %}
                </select></td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<script>
    var table = $('#opinion_table').DataTable();
    $('select').on('change', function(){
        alert(this.value);
    })

</script>