<table id="opinion_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Country</th>
                <th>RStation</th>
                <th>SMS</th>
                <th>Opinion</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Country</th>
                <th>RStation</th>
                <th>SMS</th>
                <th>Opinion</th>
            </tr>
        </tfoot>
 
        <tbody>
            {% for sms in data %}
            <tr>
                <td>{{sms.Country}}</td>
                <td>{{sms.RStation}}</td>
                <td>{{sms.SMS}}</td>
                <td>{{sms.opinion}}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<script>
    var table = $('#opinion_table').dataTable({
        "iDisplayLength": 100,
        "columnDefs": [
            {
                "visible": false,
                "searchable": true
            }
        ]}
    );
    
    function applyFiltersToTables(countries, rstations, opinions) {   
        // Create an "OR" regex from the concatenated lists of countries/stations.
        countries = countries.map(function(e) {
            return '('+e+')';
        })
        rstations = rstations.map(function(e) {
            return '('+e+')';
        })
        opinions = opinions.map(function(e) {
            return '('+e+')';
        })
        // TODO(Daria): This is a bit hacky, clear table instead if one of the lists is empty.
        var country_filter = (countries.length > 0) ? countries.join('|') : "nonexistentcountry";
        var rstation_filter = (rstations.length > 0) ? rstations.join('|') : "nonexistentcountry";
        var opinion_filter = (opinions.length > 0) ? opinions.join('|') : "nonexistentcountry";

        // Make sure we don't match "unknown" when filtering for "no".
        opinion_filter = '^' + opinion_filter + '$';
        
        table.fnFilter(country_filter, 0 /* column */, true /* as_regex */);
        table.fnFilter(rstation_filter, 1 /* column */, true /* as_regex */);
        table.fnFilter(opinion_filter, 3 /* column */, true /* as_regex */);
    }

    function applyWordFilterToTable() {       
        filter_regex = data_clicked_words.map(function(e) {
            return '('+e+')';
        });
        filter_regex = filter_regex.join('|')
        table.fnFilter(filter_regex, 2 /* column */, true /* regex */)
    }

</script>