<table id="opinion_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Index</th>
                <th>Country</th>
                <th>RStation</th>
                <th>SMS</th>
                <th>Opinion</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Index</th>
                <th>Country</th>
                <th>RStation</th>
                <th>SMS</th>
                <th>Opinion</th>
            </tr>
        </tfoot>
 
        <tbody>
            {% for sms in data %}
            <tr>
                <td>{{sms.Index}}</td>
                <td>{{sms.Country}}</td>
                <td>{{sms.RStation}}</td>
                <td>{{sms.SMS}}</td>
                <td><select size="1" id="op_{{sms.Index}}" class='option_selection'>
                    
                    {% for opinion in opinions %}
                        {% if opinion == sms.opinion %}
                            <option value="{{opinion}}" selected>
                                {{opinion}}
                            </option>
                        {% else %}
                            <option value="{{opinion}}">
                                {{opinion}}
                            </option>
                        {% endif %}                            
                    {% endfor %}
                </select></td>
                <!-- Column is hidden in DataTable, added for filtering by opinion -->
                <td>{{sms.opinion}}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<script>
    var table = $('#opinion_table').dataTable({
        "iDisplayLength": 100,
        "columnDefs": [
            {
                "targets": [5],
                "visible": false,
                "searchable": true
            }
        ]}
    );
    
    function applyFiltersToTables(countries, rstations, opinions) {   
        // Create an "OR" regex from the concatenated lists of countries/stations.
        countries = countries.map(function(e) {
            return '('+e+')';
        })
        rstations = rstations.map(function(e) {
            return '('+e+')';
        })
        opinions = opinions.map(function(e) {
            return '('+e+')';
        })
        // TODO(Daria): This is a bit hacky, clear table instead if one of the lists is empty.
        var country_filter = (countries.length > 0) ? countries.join('|') : "nonexistentcountry";
        var rstation_filter = (rstations.length > 0) ? rstations.join('|') : "nonexistentcountry";
        var opinion_filter = (opinions.length > 0) ? opinions.join('|') : "nonexistentcountry";
        
        table.fnFilter(country_filter, 1 /* column */, true /* as_regex */);
        table.fnFilter(rstation_filter, 2 /* column */, true /* as_regex */);
        table.fnFilter(opinion_filter, 5 /* column */, true /* as_regex */);
    }

    function applyWordFilterToTable() {       
        filter_regex = data_clicked_words.map(function(e) {
            return '('+e+')';
        });
        filter_regex = filter_regex.join('|')
        table.fnFilter(filter_regex, 3 /* column */, true /* regex */)
    }

    $('select').on('change', function() {
            id = this.id
            index = id.split('_')[1]
            opinion = this.value
            console.log("post is working!") // sanity check
            $.ajax({
                url : "update/", // the endpoint
                type : "POST", // http method
                data : { "index" : index,
                         "opinion": opinion 
                        }, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    $('#post-text').val(''); // remove the value from the input
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        });

</script>